.about
  .aboutNav
    list-style none
    display flex
    justify-content space-between
    padding 0
    // box-shadow 0 1px 6px 0 rgba(0,0,0,0.2)
    .aboutNavItem
      width 12.5%
      background #F0F2F4
      color #000000
      padding 5px 10px
      text-align center
      cursor pointer
      &:hover
        background #0567f1
        color #ffffff
  .aboutContent
    width 100%
    box-shadow 0 1px 6px 0 rgba(0, 0, 0, 0.2)
    border-radius 0.25rem
    padding 10px
    box-sizing border-box
    .colors
      .midnightblue
        color midnightblue
        background-color midnightblue
      .blue
        color blue
        background-color blue
      .deepskyblue
        color deepskyblue
        background-color deepskyblue
      .cornflowerblues
        color cornflowerblue
        background-color cornflowerblue
      .lightskyblue
        color lightskyblue
        background-color lightskyblue
      .wuwangcaoblue
        color #7bbfea
        background-color #7bbfea
      .slateblue
        color slateblue
        background-color slateblue
      li
        height 21px
        padding 10px 20px
        &:hover
          color #ffffff
    ul
      padding 0
      margin 0
      list-style none
      line-height 21px
      img
        width 16px
        height 16px
        margin 0 5px
      li
        // background #F0F2F4
        padding 0 5px
        margin-bottom 5px
        display flex
        align-items center
        &:last-child
          margin 0