$accentColor = #0567f1
$textColor = #232521
$textShadow = 0
/*
$boxShadowHover = 0 2px 16px 0 rgba(0, 0, 0, 0.2)
$textShadow = 0 2px 4px rgba(0, 0, 0, 0.2);
$borderRadius = .25rem 
*/
.home-blog .hero h1, .home-blog .hero .description, .home-blog .hero .action
  color rgba(255, 255, 255, 0) !important
// 文章和标签中间的竖线
.home-blog .home-blog-wrapper .info-wrapper .num > div:first-child
  border-right 1px solid #eaecef
// 代码块中背景和文字颜色
.content__default
  code
    color #1475dc !important
    background-color rgba(27, 31, 35, 0.1) !important
  pre, pre[class*='language-']
    code
      color #fff !important
.info-wrapper .category-wrapper .category-item
  box-shadow none !important
.comments-wrapper .valine-wrapper #valine.v .vlist .vh .vcontent
  box-shadow none !important
.comments-wrapper .valine-wrapper #valine.v .vlist .vh .vmeta .vat
  box-shadow nonec
.navbar
  background #7F7FD5 !important
  background -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5) !important
  background linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5) !important
header .links
  background-color transparent !important
.abstract-item .title
  margin-bottom 15px !important