$accentColor = #FF66CC
$textColor = #232521
$textShadow = 0
/* 
$boxShadowHover = 0 2px 16px 0 rgba(0, 0, 0, 0.2)
$textShadow = 0 2px 4px rgba(0, 0, 0, 0.2);
$borderRadius = .25rem 
*/
/* 鼠标样式
body {
  cursor: url(/pointer/normal.cur),auto;
}
.sidebar-heading,
.about .aboutNav .aboutNavItem,
.timeline-wrapper .year-wrapper li:hover .title,
.comments-wrapper .valine-wrapper #valine.v .vlist .vh .vmeta .vat,
.v .vlist .vcard .vhead .vnick,
.theme-container .tags span,
.dropdown-wrapper,
.navbar .links .screenfull,
.pagation-list .jump,
.kanbanniang .banniang-container .operation i,
.kanbanniang .banniang-container .operation,
.showBanNiang,
.search-box .suggestions li,
.info-wrapper .tags span, .back-to-ceiling, a, button {
  cursor: url(/pointer/link.cur),auto!important;
}
textarea, input {
  cursor: url(/pointer/text.cur),auto!important;
} */

// 首页图片上文字颜色
.home-blog .hero h1, .home-blog .hero .description, .home-blog .hero .action {
  color: #FF66CC!important
}
// 文章和标签中间的竖线
.home-blog .home-blog-wrapper .info-wrapper .num > div:first-child {
    border-right: 1px solid #eaecef;
}
// 代码块中背景和文字颜色
.content__default {
  code {
    color: #1475dc!important
    background-color: rgba(27,31,35,0.1)!important
  }
  pre, pre[class*="language-"] {
    code {
      color #fff!important
    }
  }
}
.info-wrapper .category-wrapper .category-item{
  box-shadow: none!important;
}
.comments-wrapper .valine-wrapper #valine.v .vlist .vh .vcontent {
  box-shadow: none!important;
}
.comments-wrapper .valine-wrapper #valine.v .vlist .vh .vmeta .vat {
  box-shadow: none!important;
}

/* @font-face
{
	font-family: MEOW;
	src: url('/FZSJ-XIANGNX.ttf');
}

body, html ,.tags .tag-item, .iconfont span, .valine-wrapper{
  font-family: MEOW, Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif!important;
}

.navbar .links a,
.footer-wrapper a,
.info-wrapper h3,
.info-wrapper h4,
.info-wrapper h6
{
  font-weight: 600!important;
} */